---
import ExperienceItem from "./ExperienceItem.astro";

interface Props {
  experience: Experience[];
}

const { experience } = Astro.props;
---

<ol class="relative mt-16">
  {
    experience.map((exp) => (
      <li>
        <ExperienceItem experience={exp} />
      </li>
    ))
  }
</ol>
