---
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import ExperienceItem from "./ExperienceItem.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

interface Props {
  experience: Experience[];
}

const { experience } = Astro.props;
---

<ol class="relative mt-16">
  {
    experience.map((exp) => (
      <li>
        <ExperienceItem experience={exp} />
      </li>
    ))
  }
</ol>
