---
import { languages } from "@/i18n/ui";
import LanguagePlanet from "./icons/LanguagePlanet.astro";
import { getLangFromUrl } from "@/i18n/utils";
import Check from "./icons/Check.astro";

const fullLanguages = Object.values(languages);
const currentLanguage = getLangFromUrl(Astro.url);
const currentLanguageFull = languages[currentLanguage];
console.log({ currentLanguageFull, fullLanguages });
---

<div id="dropdown-container" class="relative group">
  <button
    class="flex items-center py-1 px-2 shadow-md hover:shadow-xl rounded-md hover:bg-gray-700 transition duration-300"
  >
    <LanguagePlanet /><span class="mt-[3px]"
      >{currentLanguage.toUpperCase()}</span
    ></button
  >
  <div
    id="dropdown-menu"
    class="invisible transition-all duration-300 transform origin-top-left scale-0 group-hover:opacity-100 group-hover:visible group-hover:scale-100 absolute mt-2 rounded-md border bg-white text-black min-w-[8rem]"
  >
    {
      fullLanguages.map((lang) => (
        <div
          class="p-2 flex flex-row justify-between items-center cursor-pointer hover:bg-gray-200 lang-item"
          role="button"
        >
          <span>{lang}</span> {currentLanguageFull === lang ? <Check /> : null}
        </div>
      ))
    }
  </div>
</div>
