---
import MoonIcon from "./icons/Moon.astro";
---

<div class="relative ml-1 mr-2">
  <button
    id="theme-toggle-btn"
    transition:persist
    class="appearance-none border-none flex hover:scale-125 transition"
  >
    <MoonIcon />
  </button>
</div>
